<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUICK SHIFT</title>
	<link rel="shortcut icon" href="/img/logo.svg">
	<link rel="shortcut icon" href="/img/logo.svg">
    <link rel="stylesheet" href="../css/resultCreateAccount.css">
    <link rel="stylesheet" href="../css/media.css">
	<link rel="stylesheet" href="../css/form.css">
</head>
<body>
    <main>
        <form>
            <img src="../img/logo.svg" alt="logo">
            <h2 class="tmp">シフト編集が完了しました</h2>
            <h4 class="button3"><a th:href="@{/memberHome}">ホームへ</a></h4>
        </form>
    </main>
</body>
</html>